body {
  margin: 0;
}

button {
  cursor: pointer;
}

div {
  background-color: #333;
  padding: 1%;
}

.grid-container {
  padding: 0;
}

#idle-zone {
  background-color: yellow;
  background-image: repeating-linear-gradient(45deg, #333 0, yellow 20px, transparent 20px, transparent 40px );
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.input-container {
  display: flex;
  background-color: #222;
}

.zone-title {
  position: relative;
}

.worker {
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  border: 5px solid #333;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  word-break: break-all;
}

.text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.zone {
  display: flex;
  flex-wrap: wrap;
}

.zone:hover {
  background-color: #555;
}

/* .add-specification {
  visibility: hidden;
} */

.visibility-toggler {
  visibility: hidden;
}

.hide {
  display: none;
}

.drag-over {
  border: dashed 3px red;
}

.drag-effect {
  box-shadow: 0 0px 20px 10px rgb(0 0 0);
}

/* 
@media screen and (max-width: 600px) {
  .worker {
  background-color: lime;
  border-radius: 50%;
  width: 5vw;
  height: 5vh;
  }
} */